<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://keyvalut123.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a45fa07c-8357-4269-8068-5890d5585622/resourcegroups/rg-prud/providers/Microsoft.Web/sites/keyvalut123</ResourceId>
    <UserName>$keyvalut123</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://keyvalut123.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>